<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>

  <div class="container" *ngIf="!loading">
    <img src="{{ apiConnection.baseImagePath }}{{ dataAnimal.animal_photo }}" alt="foto de um animal" id="animal_photo" (click)="imgFullscreen(apiConnection.baseImagePath+dataAnimal.animal_photo, dataAnimal.animal_name)">
    <h1>{{ dataAnimal.animal_name }}</h1>
    <span>{{ dataAnimal.animal_race}}</span>
  </div>
  <div class="container_info" *ngIf="!loading">
    <ion-item-divider></ion-item-divider>
    <h3>Sobre</h3>
    <p>{{ dataAnimal.animal_description }}</p>

    <ion-item-divider></ion-item-divider>
    <h3>Informações básicas</h3>

    <ul>
      <ul><strong>Idade:</strong> {{ dataAnimal.animal_age || "Não informado" }}</ul>
      <ul><strong>Raça:</strong> {{ dataAnimal.animal_race || "Não informado" }}</ul>
      <ul><strong>Peso:</strong> {{ dataAnimal.animal_weight || "Não informado" }}</ul>
      <ul><strong>Porte:</strong> {{ animal_category || "Não informado" }}</ul>
      <ul><strong>Sexo:</strong> {{ animal_gender }}</ul>
    </ul>

    <ion-item-divider></ion-item-divider>
    <h3>ONG {{ dataOng.ong_name }}</h3>
    <p>{{ dataOng.ong_description }}</p>

    <ion-item-divider></ion-item-divider>
    <h3>Adote</h3>
    <p>Você gostaria de adotar este animal? Entre em contato diretamente com a ONG para maiores informações:</p>
    <ul>
      <li><strong>Nome: </strong> {{ dataOng.ong_name}}</li>
      <li><strong>Telefone: </strong> {{ dataOng.ong_phone || "Não informado" }}</li>
      <li><strong>Whatsapp: </strong> {{ "Não informado" }}</li>
      <li><strong>E-mail:</strong> {{ dataOng.ong_email }}</li>
      <li><strong>Pessoalmente:</strong> {{ dataOng.location_address }} {{dataOng.location_number}}, {{dataOng.location_district}}, {{dataOng.location_state }}</li>
    </ul>
  </div>
  <ion-footer>
    <div class="ion-text-center ion-padding" *ngIf="!loading">
      <small>Copyright - Companheiro Fiel</small>
    </div>
  </ion-footer>
</ion-content>