ion-content{
    font-family: 'Roboto', sans-serif;
    --color:black;

}
ion-toolbar{
    --background:#65b5ff;
    --color:black;
}
h3,h1{
    font-weight: 500;
}
span,p,span,li{
    font-weight: 400;
}


.container{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}
.container span{
    font-size: 14px;
}
.container_info{
    padding: 10px;
}
.container img{
    max-height: 300px;
    width: 100%;
}  
#animal_photo{
    padding:10px 10px 10px 10px;
}
ul{
    padding: 0;
    margin: 0;
    
    text-align: left;
}
ion-footer{
    background-color: #65b5ff;
    color: white;
    font-family: 'Roboto', sans-serif;

}