<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <img src="assets/img/dog04.jpg" alt="" id="animal_photo">
    <h1>Walter</h1>
    <span>Bull terrier</span>    
  </div> 
  <div class="container_info">
    <ion-item-divider></ion-item-divider>
    <h3>Sobre</h3> 
    <p>Walter é um pastor alemão resgatado pela nossa ong Resgate brasileiro, ele tem 2 meses e está a procura de um lar aconchegante!</p>

    <ion-item-divider></ion-item-divider>
    <h3>Informações básicas</h3> 
 
    <ul>
      <ul>Idade: 16 anos</ul>
      <ul>Raça: Bull terrier</ul>
      <ul>Peso: 20kg</ul>
      <ul>Porte: Grande</ul>
      <ul>Sexo: Macho</ul>
    </ul>

    <ion-item-divider></ion-item-divider>
    <h3>ONG</h3>
    <p>Resgate brasileiro é uma ONG sem fins lucrativos de resgate a animais de todo tipo ou porte!</p> 
    
    <ion-item-divider></ion-item-divider>
    <h3>Adote</h3>
    <p>Você gostaria de adotar este animal? Entre em contato diretamente com a ONG para maiores informações:</p> 
    <ul>
      <li>Whatsapp: (11) 932453543</li>
      <li>E-mail: Resgatebrasileiro@gmail.com</li>
      <li>Pessoalmente: Avenida Pualo Silva, N° 43</li>
    </ul>
  </div>
</ion-content> 
