ion-toolbar{
    --background:#65b5ff;
    --color:black;
}
h1,h2,h3,h4,h5{
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
ion-label,p{
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
ion-footer{
    background-color: #65b5ff;
    color: white;
    font-family: 'Roboto', sans-serif;

}