#logo{
    width: 200px;
}
form{
    width: 90%;
    margin: 0 auto;
}
.passwordRecover{
    text-decoration: none;
}
ion-content{
    --background: url('../../assets/img/BGregister.jpg') no-repeat center center / cover !important;
    //--ion-background-color: #4682B4;
    --ion-color: white;
}
h3{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
ion-item{
    --ion-background-color:0;
    color: white;

}
/*.register{
    height: 74vh;
    width:100%;
    max-width: 500px;
    background-color: #346899;
    right: 0;
    left: 0;
    position: fixed;
    margin: auto;
    border-top-left-radius:46px ;
    border-top-right-radius: 46px;
}*/

ion-footer{
    background-color:#346899;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}