<ion-content>
  <div class="ion-text-center">
    <img src="assets/img/logo.png" alt="Login" id="logo" />
  </div>
  <div class="register">
    <h3>Criar uma conta</h3>


    <form>
      <ion-item>
        <ion-label position="floating">
          <ion-icon name="person-outline"></ion-icon> Nome
        </ion-label>
        <ion-input type="password" name="Seu nome" [(ngModel)]="
        Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          <ion-icon name="mail-outline"></ion-icon> Email
        </ion-label>
        <ion-input type="text" name="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          <ion-icon name="key-outline"></ion-icon> Senha
        </ion-label>
        <ion-input type="password" name="senha" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          <ion-icon name="key-outline"></ion-icon> Confirme sua senha
        </ion-label>
        <ion-input type="password" name="confirmar_senha" [(ngModel)]="confirmpassword"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          <ion-icon name="earth-outline"></ion-icon> Cep
        </ion-label>
        <ion-input type="password" name="cep" [(ngModel)]="confirmpassword"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          <ion-icon name="call-outline"></ion-icon>Telefone
        </ion-label>
        <ion-input type="password" name="phone" [(ngModel)]="confirmpassword"></ion-input>
      </ion-item>
      <p></p>

      <ion-button expand="block" color="success">Criar a conta</ion-button>
      <ion-button expand="block" color="danger" (click)="goTo('login');">
        <ion-icon name="arrow-back-outline"></ion-icon>Voltar
      </ion-button>
    </form>
  </div>
</ion-content>

<ion-footer>
  <div class="ion-text-center ion-padding">
    <small>Copyright - Companheiro Animal</small>
  </div>
</ion-footer>