#logo{
    width: 200px;
}
form{
    width: 90%;
    margin: 0 auto;
}
.passwordRecover{
    text-decoration: none;
}
ion-content{
    --ion-background-color: #B0E0E6;
    --ion-color: white;
}
ion-footer{
    background-color: #4682B4;
    color: white;
}