#logo{
    width: 200px;
}
form{
    width: 90%;
    margin: 0 auto;
}
.passwordRecover{
    text-decoration: none;
}
ion-content{
    --background: url('../../assets/img/BGregister.jpg') no-repeat center center / cover !important;
    --ion-color: white;
}
h3{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
ion-item{
    --ion-background-color:0;
    color: white;

}
.register h3{
    color: white !important;
}
ion-footer{
    background-color:#346899;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}