#logo{
    width: 200px;
}
form{
    width: 90%;
    margin: 0 auto;
}
.passwordRecover{
    text-decoration: none;
}
ion-content{
    --ion-background-color: #4682B4;
    --ion-color: white;
}
ion-footer{
    background-color: #346899;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
h3{
    font: size 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
a,p{
    text-decoration: none;
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
ion-item{
    --ion-background-color: #346899;

}
.login{
    height: 74vh;
    width:100%;
    max-width: 500px;
    background-color: #346899;
    right: 0;
    left: 0;
    position: fixed;
    margin: auto;
    border-top-left-radius:46px ;
    border-top-right-radius: 46px;
}