<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Fazer Login</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <div class="ion-text-center">
    <img src="assets/img/logo.png" alt="Login" id="logo"/>
    <h3>Login</h3>
  </div>

  <form>
    <ion-item>
      <ion-label position="floating">Email:</ion-label>
      <ion-input type="text" name="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha:</ion-label>
      <ion-input type="password" name="senha" [(ngModel)]="senha"></ion-input>
    </ion-item>
    
    <p class="ion-text-right" id="passwordRecover"><a (click)="changePassword()">Esqueceu sua senha?</a></p>
    <ion-button expand="block" color="tertiary" (click)="goTo('create-account');">Crie sua conta</ion-button>
    <ion-button expand="block" color="success" (click)="goTo('adoption');">Entrar</ion-button>
  </form>
</ion-content>
 
<ion-footer>
  <div class="ion-text-center ion-padding">
    <small>Copyright - Companheiro Animal</small>
  </div>
</ion-footer>
