<ion-content>
  <div class="ion-text-center">
    <img src="assets/img/logo.png" alt="Login" id="logo" />
  </div>
  <div class="login">
    <h3>Login</h3>
    <form> 
      <ion-item>
        <ion-label position="floating">
          <ion-icon name="mail-outline"></ion-icon> Email:
        </ion-label>
        <ion-input type="text" name="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          <ion-icon name="key-outline"></ion-icon> Senha:
        </ion-label>
        <ion-input type="password" name="password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <p class="ion-text-center" id="passwordRecover"><a (click)="changePassword()">Esqueceu sua senha?</a></p>
      <ion-button expand="block" color="success" (click)="login(email, password)" [disabled]="!ConnectionWithApi">Entrar</ion-button>
      <p class="ion-text-center">ou</p>
      <ion-button expand="block" color="dark" (click)="goTo('create-account');" [disabled]="!ConnectionWithApi">Crie sua conta</ion-button>

    </form> 
  </div>
</ion-content>

<ion-footer>
  <div class="ion-text-center ion-padding">
    <small>Copyright - Companheiro Fiel</small>
  </div>
</ion-footer>