<ion-header>
  <ion-toolbar>
    <ion-title>Localização por rua</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <p>Por favor, forneça as seguintes informações:</p>

  <form>
    <ion-item>
      <ion-label position="floating">Nome da rua</ion-label>
      <ion-input type="text" name="address_name" [(ngModel)]="address_name" (ionInput)="updateSearchResults()"></ion-input>
    </ion-item> 

    <ion-list *ngIf="autocompleteItems?.length > 0">
      <p><b>Selecione a rua abaixo para continuar:</b></p>
      <ion-item *ngFor="let item of autocompleteItems" (click)="SelectSearchResult(item)" > 
        {{ item.description }}
      </ion-item>
    </ion-list>

    <p *ngIf="autocompleteItems?.length == 0 && address_name"><b>Sem resultados para a sua busca</b></p>
    
    <ion-button color="danger" (click)="dismiss()">Sair</ion-button>
  </form>
</ion-content>
  