<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>

  <div *ngIf="!loading">
    <div class="profile_one">
      <img src="{{ apiConnection.baseImagePath }}{{ dataOng.ong_img }}" alt="Foto da Ong" id="ong_photo">
      <div class="profile_texts">
        <h2>{{ dataOng.ong_name }}</h2>
        <span>{{ dataOng.location_state }}</span>
      </div>
    </div>
    <div class="profile_infos">
      <div>
          <span>{{ dataOng.ong_rescue_count }}</span>
          <span>Resgates</span>
      </div>
      <div>
          <span>{{ dataOng.ong_adoptions_count }}</span>
          <span>Adoções</span>
      </div>
      <div>
          <span>{{ dataOng.ong_likes }}</span>
          <span>Curtidas</span>
      </div>
    </div>
    <div class="profile_others">
      <ion-item-divider></ion-item-divider>
      <h3>Sobre</h3> 
      <p>{{ dataOng.ong_description }}</p>
      
      <ion-item-divider></ion-item-divider>
      <h3>Contato</h3> 
      <p>Você pode entrar em contato com a ONG pelos seguintes meios:</p>
      <ul>
        <li>E-mail: {{ dataOng.ong_email }}</li>
        <li>Pessoalmente: {{ dataOng.location_address }} {{dataOng.location_number}}, {{dataOng.location_district}}, {{dataOng.location_state }}</li>
      </ul>    

    </div>
  </div>
</ion-content>
 