<ion-header>
  <ion-toolbar>
    <ion-title>Alterar sua senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-label position="stacked">Senha antiga</ion-label>
      <ion-input type="password" name="password_old" [(ngModel)]="current_pwd"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Senha nova</ion-label>
      <ion-input type="password" name="password_new" [(ngModel)]="new_pwd"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Confirme a nova senha</ion-label>
      <ion-input type="password" name="password_confirmation" [(ngModel)]="confirm_current_pwd"></ion-input>
    </ion-item>

    <ion-button expand="block" color="success" (click)="changePwd(current_pwd, new_pwd, confirm_current_pwd)">Atualizar</ion-button>
    <ion-button expand="block" color="danger" (click)="dismiss()">Sair</ion-button>
  </form>
</ion-content>
  