<ion-header>
  <ion-toolbar>
    <ion-title>Alterar sua senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-label position="stacked">Senha antiga</ion-label>
      <ion-input type="text" name="password_old" [(ngModel)]="password_old"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Senha nova</ion-label>
      <ion-input type="text" name="password_new" [(ngModel)]="password_new"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Confirme a senha</ion-label>
      <ion-input type="text" name="password_confirmation" [(ngModel)]="password_confirmation"></ion-input>
    </ion-item>

    <ion-button expand="block" color="success">Atualizar</ion-button>
    <ion-button expand="block" color="danger" (click)="dismiss()">Sair</ion-button>
  </form>
</ion-content>
