<ion-header>
  <ion-toolbar>
    <ion-title>Atualizar Informações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <h3>Informação Geral</h3>
    <ion-item>
      <ion-label position="stacked">Seu CEP</ion-label>
      <ion-input type="text" name="cep" [(ngModel)]="cep"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label position="stacked">Celular</ion-label>
      <ion-input type="text" name="phone" [(ngModel)]="phone"></ion-input>
    </ion-item>   
    <ion-item>
      <ion-label position="stacked">Confirme sua senha atual</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="password"></ion-input>
    </ion-item>   
     
    <ion-button expand="block" color="success" (click)="updateInfos(password, cep, phone)">Atualizar</ion-button>
    <ion-button expand="block" color="danger" (click)="dismiss()">Sair</ion-button>
  </form>
</ion-content> 
   