<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>

  <div *ngIf="!loading">
    <div class="ion-text-center"> 
      <img src="{{ apiConnection.baseImagePath }}{{ data.img }}" alt="Imagem do usuário" id="profile">
      <h2>{{ data.name }}</h2>    
    </div>

    <ul>
      <li><b>Informações públicas:</b></li>
      <li>Nome: {{ data.nome }}</li>
      <li>Reports enviados: {{ data.reports }}</li>
    </ul>

    <ul>
      <li><b>Informações pessoais:</b></li>
      <li>E-mail: {{ data.email }}</li>
      <li>CEP: {{ data.cep }}</li>
      <li>Celular: {{ data.phone }}</li>
      <li>Criação da conta: {{ date_user }}</li>
    </ul>

    <div class="buttons">
      <ion-button expand="block" color="danger" (click)="openPassword()">Mudar Senha</ion-button>
      <ion-button expand="block" (click)="openAvatarModal()">Atualizar Avatar</ion-button>
      <ion-button expand="block" (click)="openInfoChange()">Atualizar Outros</ion-button>
    </div>    
  </div> 

</ion-content> 
 