*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ion-toolbar{
    --background:#65b5ff;
    --color:black;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-weight:500;
}
li{
    font-family: 'Roboto', sans-serif;
    font-weight:400;
}

ion-content{
    width: 100%;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    --background:#F5FFFA;
}
#profile{
    border-radius: 50px;
    width: 250px;
    height: 250px;
    margin: 10px;
}
ul{
    padding: 10px;
    list-style: none;
}
.buttons{
    width: 98%;
    margin: 0 auto;
}
.buttons > ion-button{
    margin: 5px;
}