*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ion-toolbar{
    --background:#65b5ff;
    --color:black;
    padding: 0 15px;
}
form{
    width: 98%;
    margin: 0 auto;
    padding: 20px 0;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 30px;
}
ion-button{
    margin: 5px
}